/* Reset and General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Font */
h1, h2, a, b, p, ul li {
    font-weight: 800;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.2rem;
}
p, ul li {
    font-size: 22px;
    line-height: 30px;
}
/* Layout */
p {
    padding: 0.5rem;
}
h1, h2, h3 {
    margin: 0rem;
}
h1 {
    margin-top: -1rem;
}
.header h1, .header h2 {
    display: inline-block;
}
.header h1 {
    padding: 0 1rem 1.5rem;
    margin: 0 auto;
}
.header h2 {
    padding: 0 1rem;
    margin: 1rem auto;
}
h3:first-child {
    padding-top: 0;
}
.content {
    padding: 0 1.5rem 1.5rem;
}
.header div {
    display: block;
    text-align: center;
    margin: 0 auto;
}
/* Desktop styles */
@media screen and (min-width: 768px) {
    .content {
        padding: 0 4rem 2rem;
    }
    ul li {
        margin-bottom: 0.75rem;
    }
    .header h1 {
        margin: 2rem auto 0;
    }
}