:root {
	--bg-color: #121212;
	--fg-color: #dcdcdc;
	--font-size: 18px;
	--heading-size: 48px;
	--vertical-space: 32px;
	--container-max-width: 900px;
}

/* reset */
html, body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
	width: 100%;
	background-color: var(--bg-color);
}

p, ul {
	margin: 0;
}

/* personal site style */
.personal-site {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	width: 100%;
	max-width: var(--container-max-width);
	background-color: var(--bg-color);
	color: var(--fg-color);
	margin: 0 auto;
	padding: 0 var(--font-size);
	font-size: var(--font-size);
	box-sizing: border-box;
	/* google font */
	font-family: "Platypi", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.personal-site>* {
	margin-top: var(--vertical-space);
}

.personal-site a, .personal-site a:visited {
	color: var(--fg-color);
}

.personal-site__heading {
	font-size: var(--heading-size);
	margin-top: 0;
}

@media (min-width: 960px) {
	:root {
		--font-size: 24px;
		--heading-size: 80px;
	}
}